@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:var(--title-36-font-weight)|Roboto:var(--paragraph-23-font-weight),600,var(--menu-font-weight),var(--title-72-font-weight),var(--title-23-font-weight),var(--tag-16-font-weight)|Source+Sans+Pro:var(--action-button-small-font-weight),var(--action-button-medium-font-weight),var(--paragraph-base-heavy-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
