.roche-project {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.roche-project .div {
  background-color: #ffffff;
  width: 1440px;
  height: 5219px;
  position: relative;
}

.roche-project .body {
  position: absolute;
  width: 1440px;
  height: 5119px;
  top: 75px;
  left: 0;
}

.roche-project .group {
  position: absolute;
  width: 1440px;
  height: 828px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-18462.png);
  background-size: cover;
  background-position: 50% 50%;
}

.roche-project .me {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 828px;
  align-items: flex-start;
  gap: 10px;
  padding: 100px 186px;
  position: relative;
}

.roche-project .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -45.05px;
}

.roche-project .frame-wrapper {
  position: relative;
  width: 1024px;
  height: 370px;
}

.roche-project .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: flex-start;
  gap: 13px;
  position: relative;
}

.roche-project .display-large-heavy {
  position: relative;
  width: 1024px;
  margin-top: -1px;
  font-family: var(--title-54-font-family);
  font-weight: var(--title-54-font-weight);
  color: #f4f6f9;
  font-size: var(--title-54-font-size);
  letter-spacing: var(--title-54-letter-spacing);
  line-height: var(--title-54-line-height);
  font-style: var(--title-54-font-style);
}

.roche-project .heavy {
  width: 918px;
  font-weight: var(--title-23-font-weight);
  position: relative;
  font-family: var(--title-23-font-family);
  color: #f4f6f9;
  font-size: var(--title-23-font-size);
  letter-spacing: var(--title-23-letter-spacing);
  line-height: var(--title-23-line-height);
  font-style: var(--title-23-font-style);
}

.roche-project .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .f-heavy {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-23-semibold-font-family);
  font-weight: var(--title-23-semibold-font-weight);
  color: #f4f6f9;
  font-size: var(--title-23-semibold-font-size);
  letter-spacing: var(--title-23-semibold-letter-spacing);
  line-height: var(--title-23-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-23-semibold-font-style);
}

.roche-project .text-wrapper {
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--title-23-font-weight);
  white-space: nowrap;
  position: relative;
  font-family: var(--title-23-font-family);
  color: #f4f6f9;
  font-size: var(--title-23-font-size);
  letter-spacing: var(--title-23-letter-spacing);
  line-height: var(--title-23-line-height);
  font-style: var(--title-23-font-style);
}

.roche-project .frame-5 {
  display: flex;
  flex-direction: column;
  width: 670px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .heavy-2 {
  width: 112px;
  margin-top: -1px;
  font-weight: var(--title-23-semibold-font-weight);
  position: relative;
  font-family: var(--title-23-semibold-font-family);
  color: #f4f6f9;
  font-size: var(--title-23-semibold-font-size);
  letter-spacing: var(--title-23-semibold-letter-spacing);
  line-height: var(--title-23-semibold-line-height);
  font-style: var(--title-23-semibold-font-style);
}

.roche-project .frame-6 {
  display: flex;
  width: 670px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .frame-7 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f9f9f9b0;
  border-radius: 20px;
}

.roche-project .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.roche-project .frame-8 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f9f9f9b0;
  border-radius: 20px;
}

.roche-project .frame-9 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -219px;
  background-color: #f9f9f9b0;
  border-radius: 20px;
}

.roche-project .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .img {
  position: relative;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.roche-project .text-wrapper-3 {
  position: relative;
  width: 55px;
  font-family: var(--text-18-font-family);
  font-weight: var(--text-18-font-weight);
  color: #ffffff;
  font-size: var(--text-18-font-size);
  text-align: center;
  letter-spacing: var(--text-18-letter-spacing);
  line-height: var(--text-18-line-height);
  font-style: var(--text-18-font-style);
}

.roche-project .text-wrapper-4 {
  position: relative;
  width: 104px;
  font-family: var(--text-18-font-family);
  font-weight: var(--text-18-font-weight);
  color: #ffffff;
  font-size: var(--text-18-font-size);
  text-align: center;
  letter-spacing: var(--text-18-letter-spacing);
  line-height: var(--text-18-line-height);
  font-style: var(--text-18-font-style);
}

.roche-project .text-wrapper-5 {
  position: relative;
  width: 65px;
  font-family: var(--text-18-font-family);
  font-weight: var(--text-18-font-weight);
  color: #ffffff;
  font-size: var(--text-18-font-size);
  text-align: center;
  letter-spacing: var(--text-18-letter-spacing);
  line-height: var(--text-18-line-height);
  font-style: var(--text-18-font-style);
}

.roche-project .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 4291px;
  align-items: center;
  gap: 30px;
  padding: 25px 7px;
  position: absolute;
  top: 828px;
  left: 0;
}

.roche-project .frame-11 {
  display: inline-flex;
  flex-direction: column;
  height: 2956px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.roche-project .frame-12 {
  display: flex;
  width: 1208px;
  height: 296px;
  align-items: flex-start;
  justify-content: center;
  gap: 45px;
  position: relative;
}

.roche-project .assignment-outcomes {
  display: flex;
  flex-direction: column;
  width: 485px;
  height: 296px;
  align-items: center;
  gap: 5px;
  padding-top: 18px;
  padding-left: 40px;
  padding-right: 18px;
  position: relative;
  background-color: #ebeef2;
  border-radius: 10px;
}

.roche-project .assignment {
  position: relative;
  width: 449px;
  margin-top: -1px;
  font-family: var(--title-23-semibold-font-family);
  font-weight: var(--title-23-semibold-font-weight);
  color: #ff725e;
  font-size: var(--title-23-semibold-font-size);
  letter-spacing: var(--title-23-semibold-letter-spacing);
  line-height: var(--title-23-semibold-line-height);
  font-style: var(--title-23-semibold-font-style);
}

.roche-project .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.roche-project .span-wrapper {
  position: relative;
  align-self: stretch;
  font-family: var(--text-18-font-family);
  font-weight: var(--text-18-font-weight);
  color: #000000;
  font-size: var(--text-18-font-size);
  letter-spacing: var(--text-18-letter-spacing);
  line-height: var(--text-18-line-height);
  font-style: var(--text-18-font-style);
}

.roche-project .span {
  font-family: var(--text-18-font-family);
  font-weight: var(--text-18-font-weight);
  color: #000000;
  font-size: var(--text-18-font-size);
  letter-spacing: var(--text-18-letter-spacing);
  line-height: var(--text-18-line-height);
  font-style: var(--text-18-font-style);
}

.roche-project .vector {
  position: relative;
  width: 1138.5px;
  height: 21.21px;
}

.roche-project .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 71px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .let-me-explain-a-bit {
  position: relative;
  width: 1066px;
  margin-top: -1px;
  font-family: var(--title-23-semibold-font-family);
  font-weight: var(--title-23-semibold-font-weight);
  color: #ff725e;
  font-size: var(--title-23-semibold-font-size);
  letter-spacing: var(--title-23-semibold-letter-spacing);
  line-height: var(--title-23-semibold-line-height);
  font-style: var(--title-23-semibold-font-style);
}

.roche-project .flexcontainer-2 {
  display: flex;
  flex-direction: column;
  width: 1066px;
  align-items: flex-start;
  gap: 12px;
}

.roche-project .frame-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -49px;
}

.roche-project .frame-15 {
  position: relative;
  width: 553px;
  height: 228px;
}

.roche-project .goal {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 225px;
  border-radius: 40px;
  border: 2px solid;
  border-color: #c44601;
}

.roche-project .overlap-group {
  position: relative;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  border-radius: 30px;
  border: 2px solid;
  border-color: #c44601;
}

.roche-project .ellipse {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
  left: 8px;
  border-radius: 20px;
  border: 2px solid;
  border-color: #c44601;
}

.roche-project .ellipse-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  left: 18px;
  background-color: #c44601;
  border-radius: 10px;
}

.roche-project .process-step {
  position: absolute;
  top: 93px;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px;
  background-color: #d9e4ff;
  border-radius: 20px;
}

.roche-project .text-wrapper-6 {
  position: relative;
  width: 392px;
  margin-top: -1px;
  font-family: var(--text-18-font-family);
  font-weight: var(--text-18-font-weight);
  color: #c44601;
  font-size: var(--text-18-font-size);
  letter-spacing: var(--text-18-letter-spacing);
  line-height: var(--text-18-line-height);
  font-style: var(--text-18-font-style);
}

.roche-project .p {
  position: relative;
  width: 500px;
  font-family: var(--text-18-font-family);
  font-weight: var(--text-18-font-weight);
  color: #000000;
  font-size: var(--text-18-font-size);
  letter-spacing: var(--text-18-letter-spacing);
  line-height: var(--text-18-line-height);
  font-style: var(--text-18-font-style);
}

.roche-project .group-wrapper {
  display: flex;
  width: 1208px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .group-2 {
  position: relative;
  width: 530px;
  height: 274px;
}

.roche-project .calendar-icon {
  position: absolute;
  width: 75px;
  height: 76px;
  top: 0;
  left: 228px;
}

.roche-project .overlap {
  position: relative;
  width: 83px;
  height: 80px;
  left: -4px;
}

.roche-project .rectangle {
  position: absolute;
  width: 83px;
  height: 76px;
  top: 4px;
  left: 0;
  border-radius: 4px;
  border: 4px solid;
  border-color: #c44601;
}

.roche-project .rectangle-2 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 43px;
  left: 63px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-3 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 30px;
  left: 63px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-4 {
  position: absolute;
  width: 13px;
  height: 5px;
  top: 23px;
  left: 63px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-5 {
  position: absolute;
  width: 13px;
  height: 5px;
  top: 23px;
  left: 49px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-6 {
  position: absolute;
  width: 13px;
  height: 5px;
  top: 23px;
  left: 35px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-7 {
  position: absolute;
  width: 13px;
  height: 5px;
  top: 23px;
  left: 21px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-8 {
  position: absolute;
  width: 13px;
  height: 5px;
  top: 23px;
  left: 7px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-9 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 30px;
  left: 49px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-10 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 30px;
  left: 35px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-11 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 30px;
  left: 7px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-12 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 43px;
  left: 7px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-13 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 56px;
  left: 7px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-14 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 43px;
  left: 21px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-15 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 56px;
  left: 21px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-16 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 43px;
  left: 35px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-17 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 56px;
  left: 35px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-18 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 56px;
  left: 63px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-19 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 56px;
  left: 49px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .vector-wrapper {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 30px;
  left: 21px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .vector-2 {
  position: absolute;
  width: 10px;
  height: 8px;
  top: 2px;
  left: 2px;
}

.roche-project .img-wrapper {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 43px;
  left: 49px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .vector-3 {
  position: absolute;
  width: 9px;
  height: 7px;
  top: 2px;
  left: 2px;
}

.roche-project .overlap-group-wrapper {
  position: absolute;
  width: 8px;
  height: 17px;
  top: 0;
  left: 8px;
}

.roche-project .overlap-group-2 {
  position: relative;
  height: 17px;
}

.roche-project .rectangle-20 {
  position: absolute;
  width: 4px;
  height: 13px;
  top: 0;
  left: 2px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .ellipse-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 9px;
  left: 0;
  background-color: #c44601;
  border-radius: 4px;
}

.roche-project .overlap-wrapper {
  position: absolute;
  width: 8px;
  height: 17px;
  top: 0;
  left: 28px;
}

.roche-project .group-3 {
  position: absolute;
  width: 8px;
  height: 17px;
  top: 0;
  left: 48px;
}

.roche-project .group-4 {
  position: absolute;
  width: 8px;
  height: 17px;
  top: 0;
  left: 68px;
}

.roche-project .process-step-2 {
  position: absolute;
  top: 89px;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px;
  background-color: #d9e4ff;
  border-radius: 20px;
}

.roche-project .group-5 {
  position: relative;
  width: 1208px;
  height: 353.79px;
}

.roche-project .frame-16 {
  display: flex;
  flex-direction: column;
  width: 1208px;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 0px 200px;
  position: relative;
}

.roche-project .desk-research-wrapper {
  display: flex;
  flex-direction: column;
  width: 574px;
  align-items: center;
  justify-content: center;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .desk-research {
  position: relative;
  width: 530px;
  height: 353.79px;
}

.roche-project .overlap-2 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 240px;
}

.roche-project .rectangle-21 {
  position: absolute;
  width: 78px;
  height: 73px;
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 2px solid;
  border-color: #c44601;
}

.roche-project .rectangle-22 {
  position: absolute;
  width: 30px;
  height: 22px;
  top: 19px;
  left: 41px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-6 {
  position: absolute;
  width: 76px;
  height: 2px;
  top: 12px;
  left: 1px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-7 {
  position: absolute;
  width: 30px;
  height: 6px;
  top: 19px;
  left: 5px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-8 {
  position: absolute;
  width: 35px;
  height: 37px;
  top: 43px;
  left: 45px;
}

.roche-project .overlap-group-3 {
  position: relative;
  height: 37px;
}

.roche-project .ellipse-4 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  border-radius: 13.5px;
  border: 6px solid;
  border-color: #c44601;
}

.roche-project .rectangle-23 {
  position: absolute;
  width: 5px;
  height: 19px;
  top: 19px;
  left: 23px;
  background-color: #c44601;
  border-radius: 20px;
  transform: rotate(-42.95deg);
}

.roche-project .group-9 {
  position: absolute;
  width: 23px;
  height: 6px;
  top: 27px;
  left: 5px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-10 {
  position: absolute;
  width: 30px;
  height: 6px;
  top: 35px;
  left: 5px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-11 {
  position: absolute;
  width: 18px;
  height: 5px;
  top: 5px;
  left: 6px;
}

.roche-project .div-3 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #c44601;
  border-radius: 2.5px;
}

.roche-project .group-12 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 7px;
  background-color: #c44601;
  border-radius: 2.5px;
}

.roche-project .group-13 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 13px;
  background-color: #c44601;
  border-radius: 2.5px;
}

.roche-project .ellipse-5 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 43px;
  left: 7px;
}

.roche-project .process-step-3 {
  position: absolute;
  top: 94px;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px;
  background-color: #d9e4ff;
  border-radius: 20px;
}

.roche-project .group-14 {
  position: absolute;
  width: 1290px;
  height: 3317px;
  top: 20px;
  left: -58px;
}

.roche-project .frame-17 {
  display: inline-flex;
  height: 333px;
  align-items: flex-start;
  position: relative;
}

.roche-project .group-15 {
  position: relative;
  width: 604px;
  height: 328px;
}

.roche-project .frame-18 {
  display: flex;
  flex-direction: column;
  width: 604px;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 0px 45px;
  position: relative;
}

.roche-project .div-4 {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #c44601;
}

.roche-project .rectangle-24 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 32px;
  left: 12px;
  border-radius: 1px;
  border: 1.5px solid;
  border-color: #c44601;
}

.roche-project .rectangle-25 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 58px;
  left: 12px;
  border-radius: 1px;
  border: 1.5px solid;
  border-color: #c44601;
}

.roche-project .group-16 {
  position: absolute;
  width: 78px;
  height: 2px;
  top: 10px;
  left: -1px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-17 {
  position: absolute;
  width: 71px;
  height: 13px;
  top: 16px;
  left: 3px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-18 {
  position: absolute;
  width: 37px;
  height: 11px;
  top: 32px;
  left: 29px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-19 {
  position: absolute;
  width: 37px;
  height: 11px;
  top: 45px;
  left: 29px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-20 {
  position: absolute;
  width: 37px;
  height: 11px;
  top: 58px;
  left: 29px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-21 {
  position: absolute;
  width: 18px;
  height: 5px;
  top: 3px;
  left: 4px;
}

.roche-project .subtract {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 45px;
  left: 12px;
}

.roche-project .process-step-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #d9e4ff;
  border-radius: 20px;
}

.roche-project .div-5 {
  position: relative;
  width: 80px;
  height: 80px;
}

.roche-project .overlap-group-4 {
  position: absolute;
  width: 26px;
  height: 52px;
  top: 0;
  left: 0;
  border-radius: 1px;
}

.roche-project .ellipse-6 {
  width: 13px;
  height: 12px;
  top: 17px;
  left: 6px;
  border-radius: 6.5px/6px;
  position: absolute;
  background-color: #c44601;
}

.roche-project .ellipse-7 {
  position: absolute;
  width: 15px;
  height: 9px;
  top: 28px;
  left: 5px;
}

.roche-project .rectangle-26 {
  position: absolute;
  width: 26px;
  height: 52px;
  top: 0;
  left: 0;
  border-radius: 1px;
  border: 1.5px solid;
  border-color: #c44601;
}

.roche-project .overlap-3 {
  position: absolute;
  width: 26px;
  height: 52px;
  top: 0;
  left: 54px;
  border-radius: 1px;
}

.roche-project .ellipse-8 {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 17px;
  left: 7px;
  background-color: #c44601;
  border-radius: 5.5px/5px;
}

.roche-project .ellipse-9 {
  position: absolute;
  width: 11px;
  height: 15px;
  top: 22px;
  left: 7px;
}

.roche-project .subtract-2 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -2162px;
  left: -2339px;
}

.roche-project .subtract-wrapper {
  position: absolute;
  width: 26px;
  height: 52px;
  top: 0;
  left: 27px;
  border-radius: 1px;
  border: 1.5px solid;
  border-color: #c44601;
}

.roche-project .subtract-3 {
  position: absolute;
  width: 18px;
  height: 20px;
  top: 16px;
  left: 2px;
}

.roche-project .group-22 {
  position: absolute;
  width: 77px;
  height: 7px;
  top: 55px;
  left: 1px;
}

.roche-project .rectangle-27 {
  width: 24px;
  height: 7px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-28 {
  position: absolute;
  width: 24px;
  height: 7px;
  top: 0;
  left: 27px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-29 {
  position: absolute;
  width: 24px;
  height: 7px;
  top: 0;
  left: 53px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-23 {
  position: absolute;
  width: 77px;
  height: 7px;
  top: 64px;
  left: 1px;
}

.roche-project .group-24 {
  position: absolute;
  width: 77px;
  height: 7px;
  top: 73px;
  left: 1px;
}

.roche-project .group-25 {
  position: relative;
  width: 1208px;
  height: 353px;
}

.roche-project .overlap-4 {
  position: absolute;
  width: 78px;
  height: 69px;
  top: 5px;
  left: 1px;
}

.roche-project .overlap-5 {
  position: absolute;
  width: 78px;
  height: 69px;
  top: 0;
  left: 0;
}

.roche-project .rectangle-30 {
  position: absolute;
  width: 78px;
  height: 2px;
  top: 7px;
  left: 0;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-31 {
  position: absolute;
  width: 43px;
  height: 50px;
  top: 11px;
  left: 4px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .group-26 {
  position: absolute;
  width: 44px;
  height: 69px;
  top: 0;
  left: 5px;
}

.roche-project .overlap-6 {
  position: relative;
  height: 69px;
}

.roche-project .group-27 {
  width: 31px;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
}

.roche-project .ellipse-10 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 64px;
  left: 26px;
  background-color: #c44601;
  border-radius: 2.5px;
}

.roche-project .group-28 {
  position: absolute;
  width: 31px;
  height: 69px;
  top: 0;
  left: 7px;
}

.roche-project .group-29 {
  position: absolute;
  width: 31px;
  height: 69px;
  top: 0;
  left: 13px;
}

.roche-project .overlap-7 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 37px;
  left: 50px;
  border-radius: 1px;
}

.roche-project .group-30 {
  position: absolute;
  width: 12px;
  height: 14px;
  top: 5px;
  left: 6px;
}

.roche-project .overlap-group-5 {
  position: relative;
  height: 14px;
}

.roche-project .ellipse-11 {
  position: absolute;
  width: 10px;
  height: 8px;
  top: 0;
  left: 1px;
  background-color: #c44601;
  border-radius: 5px/4px;
}

.roche-project .ellipse-12 {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 7px;
  left: 0;
}

.roche-project .rectangle-32 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  border-radius: 1px;
  border: 1.5px solid;
  border-color: #c44601;
}

.roche-project .group-31 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 50px;
}

.roche-project .overlap-8 {
  position: relative;
  height: 24px;
  border-radius: 1px;
}

.roche-project .subtract-4 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -2509px;
  left: -2039px;
}

.roche-project .div-6 {
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px;
  background-color: #d9e4ff;
  border-radius: 20px;
}

.roche-project .frame-19 {
  display: flex;
  flex-direction: column;
  width: 574px;
  height: 269px;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 0px 100px;
  position: relative;
}

.roche-project .group-32 {
  position: relative;
  width: 78px;
  height: 73px;
  margin-top: -1px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #c44601;
}

.roche-project .overlap-9 {
  position: absolute;
  width: 51px;
  height: 28px;
  top: 5px;
  left: 9px;
}

.roche-project .overlap-10 {
  position: absolute;
  width: 39px;
  height: 23px;
  top: 5px;
  left: 0;
}

.roche-project .overlap-group-6 {
  position: absolute;
  width: 20px;
  height: 23px;
  top: 0;
  left: 0;
  border-radius: 1px;
}

.roche-project .rectangle-33 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 2px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-34 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 12px;
  left: 2px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-35 {
  position: absolute;
  width: 7px;
  height: 17px;
  top: 3px;
  left: 11px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-36 {
  position: absolute;
  width: 20px;
  height: 23px;
  top: 0;
  left: 0;
  border-radius: 1px;
  border: 0.5px solid;
  border-color: #c44601;
}

.roche-project .vector-4 {
  position: absolute;
  width: 19px;
  height: 8px;
  top: 14px;
  left: 20px;
}

.roche-project .overlap-11 {
  position: absolute;
  width: 21px;
  height: 12px;
  top: 0;
  left: 30px;
  border-radius: 1px;
}

.roche-project .rectangle-37 {
  width: 8px;
  height: 8px;
  top: 2px;
  left: 2px;
  position: absolute;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-38 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 2px;
  left: 11px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-39 {
  position: absolute;
  width: 21px;
  height: 12px;
  top: 0;
  left: 0;
  border-radius: 1px;
  border: 0.5px solid;
  border-color: #c44601;
}

.roche-project .overlap-12 {
  position: absolute;
  width: 22px;
  height: 18px;
  top: 22px;
  left: 48px;
  border-radius: 1px;
}

.roche-project .rectangle-40 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 2px;
  left: 12px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-41 {
  position: absolute;
  width: 13px;
  height: 5px;
  top: 11px;
  left: 2px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-42 {
  position: absolute;
  width: 4px;
  height: 5px;
  top: 11px;
  left: 16px;
  background-color: #c44601;
  border-radius: 1px;
}

.roche-project .rectangle-43 {
  position: absolute;
  width: 22px;
  height: 18px;
  top: 0;
  left: 0;
  border-radius: 1px;
  border: 0.5px solid;
  border-color: #c44601;
}

.roche-project .rectangle-wrapper {
  position: absolute;
  width: 6px;
  height: 27px;
  top: 38px;
  left: 7px;
}

.roche-project .rectangle-44 {
  position: relative;
  width: 27px;
  height: 6px;
  top: 11px;
  left: -11px;
  background-color: #c44601;
  border-radius: 1px;
  transform: rotate(-90deg);
}

.roche-project .group-33 {
  position: absolute;
  width: 6px;
  height: 21px;
  top: 44px;
  left: 15px;
}

.roche-project .rectangle-45 {
  position: relative;
  width: 21px;
  height: 6px;
  top: 7px;
  left: -7px;
  background-color: #c44601;
  border-radius: 1px;
  transform: rotate(-90deg);
}

.roche-project .group-34 {
  position: absolute;
  width: 6px;
  height: 27px;
  top: 38px;
  left: 23px;
}

.roche-project .ellipse-13 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 40px;
  left: 42px;
}

.roche-project .process-step-5 {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -78px;
  margin-right: -78px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px;
  background-color: #d9e4ff;
  border-radius: 20px;
}

.roche-project .group-35 {
  position: relative;
  width: 574px;
  height: 303px;
}

.roche-project .frame-20 {
  display: flex;
  flex-direction: column;
  width: 574px;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 0px 200px;
  position: relative;
}

.roche-project .overlap-13 {
  position: absolute;
  width: 65px;
  height: 50px;
  top: 0;
  left: 15px;
}

.roche-project .rectangle-46 {
  position: absolute;
  width: 54px;
  height: 44px;
  top: 0;
  left: 10px;
  border-radius: 1px;
  border: 3px solid;
  border-color: #c44601;
}

.roche-project .ellipse-14 {
  position: absolute;
  width: 22px;
  height: 23px;
  top: 9px;
  left: 38px;
}

.roche-project .rectangle-47 {
  position: absolute;
  width: 21px;
  height: 6px;
  top: 10px;
  left: 16px;
  background-color: #c44601;
  border-radius: 1px;
  transform: rotate(0.61deg);
}

.roche-project .rectangle-48 {
  position: absolute;
  width: 16px;
  height: 6px;
  top: 18px;
  left: 16px;
  background-color: #c44601;
  border-radius: 1px;
  transform: rotate(0.61deg);
}

.roche-project .rectangle-49 {
  position: absolute;
  width: 21px;
  height: 6px;
  top: 26px;
  left: 16px;
  background-color: #c44601;
  border-radius: 1px;
  transform: rotate(0.61deg);
}

.roche-project .union {
  position: absolute;
  width: 15px;
  height: 18px;
  top: 32px;
  left: 0;
}

.roche-project .overlap-group-7 {
  position: absolute;
  width: 71px;
  height: 30px;
  top: 50px;
  left: 0;
}

.roche-project .union-2 {
  top: 0;
  left: 36px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-3 {
  top: 0;
  left: 48px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-4 {
  top: 1px;
  left: 11px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-5 {
  top: 0;
  left: 24px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-6 {
  top: 3px;
  left: 0;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-7 {
  top: 10px;
  left: 8px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-8 {
  top: 10px;
  left: 21px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-9 {
  top: 10px;
  left: 33px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-10 {
  top: 11px;
  left: 44px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .union-11 {
  top: 11px;
  left: 56px;
  position: absolute;
  width: 15px;
  height: 19px;
}

.roche-project .process-step-6 {
  position: relative;
  flex: 0 0 auto;
  margin-left: -178px;
  margin-right: -178px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 15px;
  background-color: #d9e4ff;
  border-radius: 20px;
}

.roche-project .frame-21 {
  display: flex;
  width: 1208px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .frame-22 {
  display: flex;
  flex-direction: column;
  width: 574px;
  align-items: center;
  justify-content: center;
  gap: 13px;
  position: relative;
}

.roche-project .overlap-group-8 {
  position: relative;
  height: 80px;
}

.roche-project .ellipse-15 {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 11px;
  left: 7px;
  border-radius: 34.29px;
  border: 3px solid;
  border-color: #c44601;
}

.roche-project .ellipse-16 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 28px;
  background-color: #c44601;
  border-radius: 12px;
}

.roche-project .ellipse-17 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50px;
  left: 0;
  background-color: #c44601;
  border-radius: 12px;
}

.roche-project .ellipse-18 {
  width: 25px;
  height: 24px;
  top: 50px;
  left: 55px;
  border-radius: 12.5px/12px;
  position: absolute;
  background-color: #c44601;
}

.roche-project .text-wrapper-7 {
  position: relative;
  width: 384px;
  margin-top: -1px;
  font-family: "Work Sans", Helvetica;
  font-weight: 600;
  color: #c44601;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.6px;
}

.roche-project .text-wrapper-8 {
  position: relative;
  width: 500px;
  font-family: "Work Sans", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.6px;
}

.roche-project .text {
  position: relative;
  width: 1px;
  height: 15px;
  margin-bottom: -87px;
  font-family: var(--caption-font-family);
  font-weight: var(--caption-font-weight);
  color: #000000;
  font-size: var(--caption-font-size);
  letter-spacing: var(--caption-letter-spacing);
  line-height: var(--caption-line-height);
  white-space: nowrap;
  font-style: var(--caption-font-style);
}

.roche-project .project-photos {
  position: absolute;
  width: 1208px;
  height: 1275.5px;
  margin-bottom: 0;
  object-fit: cover;
  margin-top: 3040px;
}

.roche-project .header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  gap: 10px;
  padding: 16px 10px;
  position: fixed;
  top: 0;
  background-color: #e15f4c;
}

.roche-project .header-2 {
  display: inline-flex;
  align-items: center;
  gap: 670px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .main-tab-horizontal {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}

.roche-project .icons-text {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .rectangle-50 {
  position: relative;
  width: 18px;
  height: 18px;
}

.roche-project .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--menu-font-family);
  font-weight: var(--menu-font-weight);
  color: #ffffff;
  font-size: var(--menu-font-size);
  letter-spacing: var(--menu-letter-spacing);
  line-height: var(--menu-line-height);
  white-space: nowrap;
  font-style: var(--menu-font-style);
}

.roche-project .frame-23 {
  display: flex;
  width: 504.24px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.roche-project .icons-text-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
}

.roche-project .horizontal-tabs {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--menu-font-family);
  font-weight: var(--menu-font-weight);
  color: #f4f6f9;
  font-size: var(--menu-font-size);
  letter-spacing: var(--menu-letter-spacing);
  line-height: var(--menu-line-height);
  white-space: nowrap;
  font-style: var(--menu-font-style);
}

.roche-project .navigation-arrow {
  position: relative;
  width: 16px;
  height: 16px;
}

.roche-project .underline {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 3px;
}

.roche-project .inactive {
  position: relative;
  width: 119px;
  height: 1px;
  top: 2px;
  background-color: var(--neutral-neutral-7);
  border-radius: 2px;
}
