:root {
  --status-info: rgba(46, 90, 172, 1);
  --action-neutral-inverted: rgba(255, 255, 255, 1);
  --neutral-neutral-7: rgba(218, 222, 227, 1);
  --action-neutral-default: rgba(144, 152, 161, 1);
  --neutral-neutral-3: rgba(84, 93, 105, 1);
  --action-primary-active: rgba(178, 83, 0, 1);
  --action-neutral-hover: rgba(133, 140, 148, 1);
  --neutral-white: rgba(255, 255, 255, 1);
  --neutral-black: rgba(9, 16, 29, 1);
  --neutral-neutral-6: rgba(165, 171, 179, 1);
  --menu-font-family: "Roboto", Helvetica;
  --menu-font-weight: 600;
  --menu-font-size: 18px;
  --menu-letter-spacing: 0px;
  --menu-line-height: 24px;
  --menu-font-style: normal;
  --title-54-font-family: "Roboto", Helvetica;
  --title-54-font-weight: 600;
  --title-54-font-size: 54px;
  --title-54-letter-spacing: 0px;
  --title-54-line-height: 52px;
  --title-54-font-style: normal;
  --title-72-font-family: "Roboto", Helvetica;
  --title-72-font-weight: 700;
  --title-72-font-size: 72px;
  --title-72-letter-spacing: 0px;
  --title-72-line-height: 76px;
  --title-72-font-style: normal;
  --title-36-font-family: "Roboto Condensed", Helvetica;
  --title-36-font-weight: 400;
  --title-36-font-size: 36px;
  --title-36-letter-spacing: 0px;
  --title-36-line-height: 52px;
  --title-36-font-style: normal;
  --paragraph-23-font-family: "Roboto", Helvetica;
  --paragraph-23-font-weight: 300;
  --paragraph-23-font-size: 23px;
  --paragraph-23-letter-spacing: 0px;
  --paragraph-23-line-height: 30px;
  --paragraph-23-font-style: normal;
  --tag-16-font-family: "Roboto", Helvetica;
  --tag-16-font-weight: 500;
  --tag-16-font-size: 16px;
  --tag-16-letter-spacing: 0px;
  --tag-16-line-height: 24px;
  --tag-16-font-style: normal;
  --title-23-font-family: "Roboto", Helvetica;
  --title-23-font-weight: 500;
  --title-23-font-size: 23px;
  --title-23-letter-spacing: 0px;
  --title-23-line-height: 30px;
  --title-23-font-style: normal;
  --title-23-semibold-font-family: "Roboto", Helvetica;
  --title-23-semibold-font-weight: 600;
  --title-23-semibold-font-size: 23px;
  --title-23-semibold-letter-spacing: 0px;
  --title-23-semibold-line-height: 30px;
  --title-23-semibold-font-style: normal;
  --text-18-font-family: "Roboto", Helvetica;
  --text-18-font-weight: 500;
  --text-18-font-size: 18px;
  --text-18-letter-spacing: 0px;
  --text-18-line-height: 139.9999976158142%;
  --text-18-font-style: normal;
  --action-button-medium-font-family: "Source Sans Pro", Helvetica;
  --action-button-medium-font-weight: 600;
  --action-button-medium-font-size: 16px;
  --action-button-medium-letter-spacing: 0px;
  --action-button-medium-line-height: 24px;
  --action-button-medium-font-style: normal;
  --action-button-small-font-family: "Source Sans Pro", Helvetica;
  --action-button-small-font-weight: 600;
  --action-button-small-font-size: 14px;
  --action-button-small-letter-spacing: 0px;
  --action-button-small-line-height: 20px;
  --action-button-small-font-style: normal;
  --paragraph-base-heavy-font-family: "Source Sans Pro", Helvetica;
  --paragraph-base-heavy-font-weight: 600;
  --paragraph-base-heavy-font-size: 16px;
  --paragraph-base-heavy-letter-spacing: 0px;
  --paragraph-base-heavy-line-height: 24px;
  --paragraph-base-heavy-font-style: normal;
  --tight-elevation-4: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);
  --tight-elevation-6: 0px 3.5px 14px 0px rgba(0, 0, 0, 0.2);
  --caption-font-family: "Work Sans", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 13px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 100%;
  --caption-font-style: normal;
}
