:root {
  --status-info: rgba(46, 90, 172, 1);
  --action-primary-default: rgba(232, 108, 0, 1);
  --action-primary-hover: rgba(204, 95, 0, 1);
  --neutral-neutral-3: rgba(84, 93, 105, 1);
  --neutral-black: rgba(9, 16, 29, 1);
  --neutral-neutral-6: rgba(165, 171, 179, 1);
  --neutral-white: rgba(255, 255, 255, 1);
  --neutral-neutral-7: rgba(218, 222, 227, 1);
  --action-primary-active: rgba(178, 83, 0, 1);
  --paragraph-base-heavy-font-family: "Source Sans Pro", Helvetica;
  --paragraph-base-heavy-font-weight: 600;
  --paragraph-base-heavy-font-size: 16px;
  --paragraph-base-heavy-letter-spacing: 0px;
  --paragraph-base-heavy-line-height: 24px;
  --paragraph-base-heavy-font-style: normal;
  --action-button-small-font-family: "Source Sans Pro", Helvetica;
  --action-button-small-font-weight: 600;
  --action-button-small-font-size: 14px;
  --action-button-small-letter-spacing: 0px;
  --action-button-small-line-height: 20px;
  --action-button-small-font-style: normal;
  --action-button-medium-font-family: "Source Sans Pro", Helvetica;
  --action-button-medium-font-weight: 600;
  --action-button-medium-font-size: 16px;
  --action-button-medium-letter-spacing: 0px;
  --action-button-medium-line-height: 24px;
  --action-button-medium-font-style: normal;
}
